$border-default: 1px solid gray;
$border-radius: 5px;
$progress-bar-color: orangered;
$timebox-bg: #ffaaaa;
$current-timebox-bg: #ffffaa;
$timebox-creator-bg: lighten(aqua, 25);
$timebox-editor-bg: darken(aquamarine, 50);
